<form action="">
   <div class="col-7">
      <h6>Tweet Something</h6>
      <hr>
      <header class="post-head">
          <img src="https://images.squarespace-cdn.com/content/v1/5aee389b3c3a531e6245ae76/1533556659531-R0B8DV9CIUYTEWBWWOZ7/Bewerbungsfotos-Friedrichshain01.jpg" alt="pfp">
          <input type="text" name="" placeholder="What's happening?" class="form-control form-control-lg">
      </header>
      <footer calss="post-foot">
          <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Options
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Everyone</a></li>
                <li><a class="dropdown-item" href="#">People you follow</a></li>
              </ul>
          </div>

          <button type="submit" class="btn btn-primary">Tweet</button>
      </footer>
  </div>
</form>
 